/* Common */
.vibes-background {
    position: relative;
    height: 350px;
}
.vibes-background img {
    width: 50%;
    opacity: 0.3;
}
.vibes-bounce-1 {
    animation-name: bounce-1;
    animation-timing-function: ease;
}
@keyframes bounce-1 {
    0%   { transform: scale(1,1)      translateY(0); }
    10%  { transform: scale(1.1,.9)   translateY(0); }
    30%  { transform: scale(.9,1.1)   translateY(-100px); }
    50%  { transform: scale(1.05,.95) translateY(0); }
    57%  { transform: scale(1,1)      translateY(-7px); }
    64%  { transform: scale(1,1)      translateY(0); }
    100% { transform: scale(1,1)      translateY(0); }
}
/* End Common */

/* Let the vibes options begin */

/* Heart on Fire */

.vibes-stage-heart-on-fire {
    display: flex;
    height: 280px;
    width: 100%;
    position: absolute;
    top: 0;
}
.vibes-heart-on-fire {
    align-self: flex-end;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    background: url("https://cdn.jsdelivr.net/gh/zerosonesfun/select-openmoji/heart-on-fire.png");
    height: 150px;
    transform-origin: bottom;
    width: 150px;
    background-size: 150px;
}

/* Dead */

.vibes-stage-dead {
    display: flex;
    height: 280px;
    width: 100%;
    position: absolute;
    top: 0;
}
.vibes-dead {
    align-self: flex-end;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    background: url("https://cdn.jsdelivr.net/gh/zerosonesfun/select-openmoji/dead.png");
    height: 150px;
    transform-origin: bottom;
    width: 150px;
    background-size: 150px;
}

/* Sad (Wilted Flower) */

.vibes-stage-sad {
    display: flex;
    height: 280px;
    width: 100%;
    position: absolute;
    top: 0;
}
.vibes-sad {
    align-self: flex-end;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    background: url("https://cdn.jsdelivr.net/gh/zerosonesfun/select-openmoji/wilted-flower.png");
    height: 150px;
    transform-origin: bottom;
    width: 150px;
    background-size: 150px;
}

/* Clap */

.vibes-stage-clap {
    display: flex;
    height: 280px;
    width: 100%;
    position: absolute;
    top: 0;
}
.vibes-clap {
    align-self: flex-end;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    background: url("https://cdn.jsdelivr.net/gh/zerosonesfun/select-openmoji/clap.png");
    height: 150px;
    transform-origin: bottom;
    width: 150px;
    background-size: 150px;
}

/* OK */

.vibes-stage-ok {
    display: flex;
    height: 280px;
    width: 100%;
    position: absolute;
    top: 0;
}
.vibes-ok {
    align-self: flex-end;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    background: url("https://cdn.jsdelivr.net/gh/zerosonesfun/select-openmoji/ok.png");
    height: 150px;
    transform-origin: bottom;
    width: 150px;
    background-size: 150px;
}